html {
  font-family: "Slabo 13px", serif;
}

.bg {
  background-image: url("../images/worm.jpg");
}

.masthead {
  display: block;
}

a {
  color: #568c36;
}

a:hover {
  color: #113c00;
}

h1 {
  color: #0ee0e5;
  text-align: center;
}

h2 {
  text-align: center;
  color: #0ee0e5;
}

h3 {
  text-align: center;
}

.nav {
  float: left;
  position: absolute;
  z-index: 1000;
  right: 0;
}

.logo {
  float: left;
  position: absolute;
  z-index: 10000;
  width: 10%;
  padding: .5rem .65rem;
}

.logo2 {

  position: absolute;
  width: 30%;
  z-index: 10000;
  left: 35.333%;
  right: 33.333%;

}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;
  color: #fff;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus {
  color: #0ee0e5;
}

.background {
  position: relative;
  top: 0;
}

.about {
  background-color: #f2717a;
  padding: 1em;
  text-align: center;
}

.about-p {
  padding-left: 1em;
  padding-right: 1em;
  color: #fff;
}

.product-card {
  display: block;
  text-align: center;
}

.products-list {
  position: static;
}

.products-img {
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
}

.wiwiwi {
  position: relative;
}

.contact {
  background-color: #0ee0e5;
  padding: 1em;
  text-align: center;

}

.white {
  color: white;
  margin: 0;
}

.blue {
  color: #0ee0e5;

}

main {
  position: relative;
}

.btn {
  background-color: #0ee0e5;
  border-color: #0ee0e5;
}

.btn:hover {
  background-color: #f2717a;
  border-color: #f2717a;
}

.footer {
  background-color: #f2717a;
  color: #fff;
}

@media only screen and (min-width: 35em) {

  .product-card {
    width: 30%;
    display: inline-block;
    padding: 1em;
    text-align: center;
  }

  .max-width {
    width: 30em;
    margin: auto;
  }

  .wiwiwi {
    width: 33%;
  }
}
